.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.footer > * {
    color: white;
}

.footer div {
    width: 60%;
    padding: 20px 0;
}

.footer > div > * {
    margin: 0 0;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    list-style: none;
}